#check{
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    position: relative;
}
#check .Fq-closwone
{
    position: absolute;
    top: 40px;
    right: 70px;
    color: black;
    font-size: 30px;
    cursor: pointer;
}
#check .form{
    padding:80px 90px 0px 90px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
#check .form .top-text{
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 32px;
}
#check input{
    width: 96%;
    padding: 12px;
    border: none;
    border-bottom: 2px solid rgb(61, 61, 61);
    font-size: 17px;
    margin-bottom: 10px;
}
#check .inp{
    width: 98.5%;
    margin-bottom: 10px;
}
#check .row{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 75px;
    margin-bottom: 10px;
}
#check .col{
    display: flex;
    flex-direction: column;
}
#check  .text{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
}
#check .groub{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#check .text-bottom{
    transform: translateY(-60%);
    font-size: 16px;
    font-weight: 200;
    margin-top: 6px;
    color: rgba(37, 37, 37, 1);
}
#check .input-groub{
    position: relative;
}
#check .input-groub select {
    width: 100% !important;
    padding: 9.5px 0;
    border: none;
    border-bottom: 2px solid rgb(61, 61, 61);
    font-size: 19px;
    background-color: #ffffff;
    cursor: pointer;
    font-size: 20px;
}
#check .input-groub select span{
    color: red ;
}

#check .placeholder {
    position: absolute;
    top: 10px;
    left: 8px;
    color: black;
    transition: 0.3s;
    pointer-events: none;
    font-weight: 400;
    font-size: 20px;
}
#check input:focus + .placeholder{
    top: -16px;
    background-color: white;

}
#check span{
    color: red;
}
#check .groub2{
   
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
#check .groub2 .i{
    padding-top: 30px;
}
#check button{
    width: 275px;
    height: 51px;
    background-color: rgba(0, 78, 107, 1);
    color: white;
    font-weight: 600;
    font-size: 34px;
    border-radius: 5px;
    border: none;
    margin: 0 auto 50px auto;
    cursor: pointer;
}
#check button:hover{
    background-color: rgb(189, 83, 12);
}


.HJ_date{
    width: 100% !important;
    background-color: transparent;
    border: none;
    border-bottom:  1px solid #282828;
    outline: none;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.HJ_date::before{
    content: "Check-out date : ";
    color: rgb(131, 131, 131);
}
.HJ_date2{
    width: 100% !important;
    background-color: transparent;
    border: none;
    border-bottom:  1px solid #282828;
    outline: none;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.HJ_date2::before{
    content: "Check-in date : ";
    color: rgb(131, 131, 131);
}

@media screen  and (max-width:900px){
    #check .form
    {
        padding: 20px 20px 0 20px;
        gap: 10px;
    }
    #check .Fq-closwone
    {
        top: 20px;
        right: 40px;
    }
    #check .row{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    #check .groub{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    #check .groub2{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }
    #check input{
        padding: 11px;
        font-size: 13px;
    }
    #check .inp{
        width: 96%;
    }
    #check .form .top-text
    {
        font-size: 25px;
    }
    #check .text
    {
        font-size: 18px;
    }
    #check .placeholder
    {
        font-size: 14px;
    }
    #check button
    {
        width: 195px;
        height: 45px;
        padding: 10px;
        font-size: 24px;
        margin: 0px auto 20px auto ;
    }
}
@media screen  and (max-width:600px)
{
    #check .Fq-closwone
    {
        display: none;
    }
}
@media screen  and (max-width:400px)
{
    #check .form .top-text
    {
        font-size: 18px;
    }
    #check .text
    {
        font-size: 14px;
    }
    #check .placeholder
    {
        font-size: 12px;
    }
    #check button
    {
        width: 195px;
        height: 41px;
        font-size: 24px;
        margin: 0px auto 20px auto;
    }
    #check .text-bottom
    {
        font-size: 14px;
    }
    #check button
    {
        width: 165px;
        height: 40px;
        font-size: 18px;
        margin: 0px auto 20px auto;
    }
    #check .input-groub select {
        font-size: 14px;
    }
}