.Hero-card-fq
{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin: -10rem auto 2rem auto;
}
.Hero-card-fq .card-fqfq
{
    width: 21.5rem;
    height: 24.5rem;
    border-radius: 1.5rem;
    box-shadow: 10px 4px 23px 0px rgba(0, 0, 0, 0.1);
}
.Hero-card-fq .card-fqfq .image
{
    width: 100%;
    height: 15.7rem;
}
.Hero-card-fq .card-fqfq .image img
{
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.Hero-card-fq .card-fqfq h2
{
    font-size: 1.4rem;
    font-weight: 600;
    padding: 13px 0 3px 13px;
}
.Hero-card-fq .card-fqfq .FQ-cardPara
{
    font-size: 1rem;
    color: rgba(40, 40, 40, 1);
    padding-left: 13px;
    margin-bottom: 10px;
}
.Hero-card-fq .card-fqfq .fq-last-div
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-top: 16px;
}
.Hero-card-fq .card-fqfq .fq-last-div button
{
    width: 10rem;
    font-size: 1.5rem;
    font-weight: 600;
    background: rgba(0, 78, 107, 1);
    color: white;
    padding: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.Hero-card-fq .card-fqfq .fq-last-div .FQ-rightlass 
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: max-content;
    padding-right: 17px; 
}
.Hero-card-fq .card-fqfq .fq-last-div div span
{
    font-size: 20px;
    font-weight: 700;
    color: rgba(0, 78, 107, 1);
    border: none;
}
.Hero-card-fq .card-fqfq .fq-last-div div p
{
    font-size: 10.5px;
    color: gray;
}

@media(max-width:750px)
{
    .Hero-card-fq
    {
        display: none;
    }
}